* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 13px;
  overflow-x: hidden;
  width: 100vw;
}
header {
  height: 100px;
  background-color: black;
  color: white;
}
.header {
  max-width: 1140px;
  height: 100px;
  margin: auto; 
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}
.logoimg {
  width: 80px;
  height: 80px;
  background-color: #B28756;
  border-radius: 40px;
}
.menu {
  flex: 1;
  display: flex;
  justify-content: end;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 5px solid #B28756;
  color: #CCC;
}


/** Content */
.button {  
  display: inline-block;
  background-color: #B28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}
.button:hover {
  opacity: 75%;
}
.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
.banner .sliders {
  width: 1000vw;
  height: 100%;
}
.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);  
  transition: 1s;
}
.banner .slidearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: #FFF;
}
.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}
.banner h1 span  {
  color: #B28756;
}
.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}
.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  cursor: pointer;

}
.banner .pointer.active {
  background-color: #B28756;
  transition: 1s;
}



/* Section DEFAULt */
.default {
  padding-top: 50px;
  padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
}
.default .section-title {
  font-size: 20px;
  font-weight: 600;
}
.default .section-desc {
  font-size: 12px;
  color: #acacac;
  margin-top: 13px;
  margin-bottom: 40px;
  font-weight: 600;
}
.default .section-body {
  max-width: 1140px;
  margin: auto;
}

/** Section LIGHT */
.default.light {
  background-color: #F7F7f7;
}
.default.light .section-title,
.default.light .section-body {
  color: #000;
}

/** Section DARK */
.default.dark  {
  background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body {
  color: #F7F7f7;
}
.default.dark .section-desc {
  color: #a5a5a5;
}



/** CSS DE ÁREAS ESPECIFICAS */
.section-aboutus {
  display: flex;
}
.section-aboutus--left {
  flex: 1;
}
.section-aboutus--left p {
  font-size: 14px;
  line-height: 25px;
}

.section-aboutus--right {
  width: 500px;
  text-align: center;
}
.section-aboutus--right img {
  width: 400px;
  box-shadow: 0px 5px 10px #333;
}



.section-services {
  display: flex;
}
.section-service {
  flex: 1;
  text-align: center;
  border-right: 1px solid #585757;
  padding: 15px;
}
.section-service:first-child {
  border-left: 1px solid #585757;
}
.section-service img {
  width: 60px;
  height: 60px;
}
.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}


/* Section PROJECTS */
.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-projects--filters {
  border: 1px solid #CCC;
  background-color: #EEE;
  border-radius: 30px;
  display: inline-block;
  padding: 0px 20px;

}
.section-projects--filters ul,
.section-projects--filters li {
  list-style: none;
}
.section-projects--filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid #CCC;
  color: #555;
  border-bottom: 3px solid #EEE;
  cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
  border-bottom: 3px solid #B28756;
}
.section-projects--filters li:first-child {
  border-left: 0;
}

.section-projects--photos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-projects--photo {
  width: 280px;
}
.section-projects--photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
  cursor: pointer;
}
.section-projects--photoarea img {
  width: inherit;
  height: inherit;
}
.section-projects--photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.section-projects--photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
  display: flex;
}



.bg-team {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
}
.section-team {
  overflow: hidden;
  max-width: 760px;
  margin: auto;
}
.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-team .sliders {
  width: 100vw;
  height: 100%;
  display: flex;
}
.section-team .slide {
  width: 240px;
  height: 100%;
  min-height: 300px;
  display: flex;
  background-color: #FFF;
  transition: 0.8s;
  margin-left: 20px;
}
.section-team .slidearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: #000;
  padding: 30px;
  border-radius: 15px;
}

.section-team-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -20px;
}
.section-team-area .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  cursor: pointer;

}
.section-team-area .pointer.active {
  background-color: #B28756;
  transition: 1s;
}
.section-team--avatar {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
.section-team--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}
.section-team--role {
  font-size: 14px;
  color: #777676;
  margin-top: 5px;
}
.section-team--social {
  display: flex;
  margin-top: 20px;
}
.section-team--social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #a5a5a5;
  border-radius: 50%;
  margin-right: 10px;
}
.section-team--social a:hover {
  background-color: #B28756;
}




/* HAPPY CLIENTS */

.section-clients {
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
  width: 750px;
  display: flex;
}
.section-clients .sliders {
  width: 1500px;
  height: 100%;
  display: flex;
}
.section-clients .slide {
  height: 100%;
  min-height: 300px;
  display: flex;
  transition: 0.8s;
  width: 750px; 
}
.section-clients .slidearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: #000;
  width: 750px;
}
.section-client--avatar {
  width: 150px;
  height: auto;
}
.slidearea .section-client--name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
  color: #000;
}
.section-client--role {
  font-size: 14px;
  color: #000;
  margin-top: 5px;
  margin-bottom: 20px;
}
.section-clients .slidearea .quote {
  width: 20px;
}
.section-clients .section-title,
.section-clients .section-desc {
  text-align: center;
  text-transform: uppercase;
}
.section-clients .section-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}
.section-clients .section-desc {
  font-size: 12px;
  color: #acacac;
  margin-top: 13px;
  font-weight: 600;
}
.p-client {
  text-align: center;
  width: 95%;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-body .sliders-pointers {
 
  height: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-body .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #B28756;
  border-radius: 50%;
  cursor: pointer;
}
.section-body .pointer.active {
  background-color: #B28756;
  transition: 1s;
} 


/** Section BRANDS */
.section-brands {
  width: 100vw;
  height: 155px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}
.section-brandsarea {
  max-width: 1140px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: normal;
}
.section-brand {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Section SALE */
.section-sale {
  background-color: #eee;
  width: 100vw;
  margin-bottom: 15px;
  padding-top: 15px;
}
.section-sale .section-title,
.section-sale .section-desc {
  text-align: center;
  text-transform: uppercase;
}
.section-sale .section-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.section-sale .section-desc {
  font-size: 12px;
  color: #acacac;
  margin-top: 13px;
  font-weight: 600;
}
.section-sales {
  max-width: 1140px;
  height: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advertise {
  width: 260px;
  height: 345px;
  background-color: #FFF;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
  border-radius: 5px;
}
.advertise h3 {
  font-size: 13px;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 6px;
}
.advertise h5 {
  font-size: 10px;
  color: #CCC;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.advertise h1 {
  font-size: 30px;
  margin-top: 10px;
}
.advertise p {
  font-size: 10px;
  font-weight: 600;
  color: #777676;
}
.advertise .trace {
  width: 20px;
  height: 17px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trace .risk {
  margin: 27px 0px;
  width: 8px;
  height: 1px;
  background-color: #000;
}
.btn-choose {  
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 35px;
  margin-top: 20px;
  border-radius: 20px;
}
.btn-choose.active {
  background-color: #B28756;
}
.btn-choose:hover {
  opacity: 75%;
  background-color: #B28756;
}

/* Section PREMIUM */
.section-categories {
  height: 650px;
  background-color: red;
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
}
.section-categories .section-title,
.section-categories .section-desc {
  text-align: center;
  text-transform: uppercase;
}
.section-categories .section-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.section-categories .section-desc {
  font-size: 12px;
  color: #acacac;
  margin-top: 13px;
  font-weight: 600;
}
.section-body-desc {
  background-color: #e9d1b7;
  height: 500px;
}
.section-categories-area {
  display: flex;
  justify-content: space-between;
  border: 2px solid red;
  padding-top: 60px;
}
.section-category {
  flex: 1;
  padding-top: 20px;
  padding-left: 3px;
  box-sizing: border-box;
}
.cat-img {
  width: 43%;
}

.cat-cat {
  display: flex;
  margin-bottom: 19px;
}
.cat-desc-body {
  padding: 0px 20px;
}
.cat-desc--img {

}
.cat-desc--title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.cat-desc--desc {
  color: #a5a5a5;
}
.feature {
  margin-top: 20px;
}
.feature p {
  font-size: 16px;
  text-transform: uppercase;
  color: #a5a5a5;
  margin: 10px 0px;
}
